body {
  background-color:#d0efff  ;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.container {
  
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color:whitesmoke;
  color: #0d9cdf;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 400px;
  height: 400px;
}

.form h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #ffffff;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.form input::placeholder {
  color: #0d9cdf;
  font-size: 16px;
}


.form button {
  background-color: #0d9cdf;
  border: none;
  border-radius: 30px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 18px;
  margin: 20px 0;
  padding: 10px 20px;
}

.form button:hover {
  background-color: #0db2ff;
  color: #fff;
  transition: all 0.15s ease-in-out;
}
